.job {
    padding: 51px 0 57px 0;
    min-height: 619px;

    &__title {
        font-size: 26px;
        line-height: 23px;
        font-weight: 700;
        text-transform: uppercase;
        color: #2e2e2e;
        text-align: center;
    }

    &__divider {
        width: 148px;
        height: 1px;
        background-color: $main_color;
        margin: 0 auto;
        margin-top: 20px;
    }

    &__subtitle {
        font-size: 21px;
        line-height: 24px;
        font-weight: 400;
        color: #2e2e2e;
        margin-top: 17px;
        text-align: center;

    }

    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, minmax(10px, auto));
        column-gap: 30px;
        grid-auto-rows: 370px;
        margin-top: 37px;
    }

    &__item {
        text-align: center;

        &-title {
            font-size: 18px;
            line-height: 22px;
            font-weight: 700;
            color: #ec644b;
            margin-top: 20px;
        }

        &-descr {
            font-size: 14px;
            font-weight: 300;
            color: #3a3a3a;
            margin-top: 15px;
        }

        img {
            width: 100%;
        }
    }
}